My workflow 1.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "061726ad-deba-4724-86fe-be8048d5a2b7",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ab526ff7-14bd-4b94-8a92-caa24e6cdcd8",
      "name": "Webhook",
      "webhookId": "061726ad-deba-4724-86fe-be8048d5a2b7"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"students\": [\n    {\n      \"name\": \"John\",\n      \"age\": 23,\n      \"score\": 75,\n      \"department\": \"IT\"\n    },\n    {\n      \"name\": \"Mary\",\n      \"age\": 28,\n      \"score\": 88,\n      \"department\": \"HR\"\n    },\n    {\n      \"name\": \"David\",\n      \"age\": 22,\n      \"score\": 45,\n      \"department\": \"IT\"\n    },\n    {\n      \"name\": \"Sarah\",\n      \"age\": 30,\n      \"score\": 67,\n      \"department\": \"Finance\"\n    },\n    {\n      \"name\": \"Michael\",\n      \"age\": 26,\n      \"score\": 91,\n      \"department\": \"HR\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "430ce60c-c518-4b50-b33e-eeec23a2caa4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "students",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "a6d75ea1-2cec-4b6c-b86b-6bae5379ba48",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f3a1614-5665-406f-a7ca-d7f1b9582156",
              "leftValue": null,
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "2b204e2d-2203-460b-997c-f402193e558f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        176
      ],
      "id": "e7c7eab2-acc9-4d3e-88bf-dab976b18e5e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        608,
        176
      ],
      "id": "4c0da437-ce07-4949-88f8-3938b3151c16",
      "name": "Sort"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "name",
              "newKey": "student_name"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        720,
        176
      ],
      "id": "de754732-ec0a-4c67-81fe-6ad987507201",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "student_name",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        848,
        176
      ],
      "id": "d37baa00-893a-4de7-85c7-353cac6c43c5",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst grouped = {};\n\nfor (const item of items) {\n  const dept = item.json.department;\n  const score = Number(item.json.score) || 0;\n\n  if (!grouped[dept]) {\n    grouped[dept] = {\n      department: dept,\n      totalScore: 0,\n      count: 0\n    };\n  }\n\n  grouped[dept].totalScore += score;\n  grouped[dept].count += 1;\n}\n\nreturn Object.values(grouped).map(g => ({\n  json: {\n    department: g.department,\n    average: g.totalScore / g.count\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        160
      ],
      "id": "24c9a719-3147-4fad-858b-cc256a348a43",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "$input.all()",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1152,
        176
      ],
      "id": "f44c3779-fc1c-4090-929c-15bb87c9f7aa",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {}
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a58ce84c-f143-4986-8c6f-d8aa09834365",
  "meta": {
    "instanceId": "a9f2af44d9c9b394160081a6a2684c4239c5ae89204cf3a849577c51642689a2"
  },
  "id": "Xh44yIwI1wRL4Vxo",
  "tags": []
}